body {
  font-family: 'Work Sans';
  color: #2A3A54;
  background-color: #F9F9F9;
}

.container {
  background-color: #F9F9F9;
}

a {
  font-family: 'Work Sans';
  text-decoration: none;
  position: relative;
}

h1 {
  font-size: 24px;
  line-height: 35px;
  letter-spacing: -0.3px;
  color: #2A3A54;
  font-weight: 300;
}

h2 {
  font-size: 20px;
  line-height: 35px;
  letter-spacing: -0.25px;
  color: #2A3A54;
  font-weight: 300;
}

p {
  font-size: 14px;
  line-height: 25px;
  letter-spacing: -0.1px;
  color: #2A3A54;
  font-weight: 300;
}

.ondertekst {
  font-size: 14px;
  line-height: 25px;
  letter-spacing: -0.1px;
  color: #ADADAD;
  margin-top: -20px;
}

.uk-link {
  font-size: 14px;
  line-height: 25px;
  letter-spacing: -0.1px;
}

#intro {
  width: 600px;
}

#hoofd {
  height: 150px;
  opacity: 0.8;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
          transition:         transform 0.8s ease-in-out;
}

#hoofd:hover {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
}

.plaatje {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#fwa {
  transition: opacity .1s ease-out;
    -moz-transition: opacity .1s ease-out;
    -webkit-transition: opacity .1s ease-out;
    -o-transition: opacity .1s ease-out;
}

#fwa:hover{
  opacity: 0.5;
}

#knop {
  background-image: linear-gradient(270deg, #1DA800 0%, #00BBB0 100%);
  border-radius: 40px;
}

#linkedin {
  color: white;
}

.text-highlight {
  border-radius: 1em 0 1em 0;
  background-image:
    linear-gradient(-100deg,
      rgba(255,250,150,0.9),
      rgba(255,250,150,0.8) 100%,
      rgba(255,250,150,0.25)
    );
}

.highlight{
	background-color:#FFFF66;
	line-height: 23px;
	border-radius: 100px;
}

.hover-highlight:hover {
  background-color:#FFFF66;
  line-height: 23px;
  border-radius: 100px;
}

#eind {
  background-image: linear-gradient(270deg, #1DA800 0%, #00BBB0 100%);
  height:10px;
}

.uk-button-text {
  text-transform: none;
  color: #1e87f0;
}

.uk-button-text:hover {
  color: #1e87f0;
}

.uk-button-text::before {
  border-bottom: 1px solid #1e87f0;
}

#more {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
