body {
  font-family: 'Work Sans';
  color: #2A3A54;
  background-color: #F9F9F9;
}

.container {
  background-color: #F9F9F9;
}

h1 {
  font-size: 24px;
  line-height: 35px;
  letter-spacing: -0.3px;
  color: #2A3A54;
  font-weight: 300;
}

h2 {
  font-size: 20px;
  line-height: 35px;
  letter-spacing: -0.25px;
  color: #2A3A54;
  font-weight: 300;
}

p {
  font-size: 14px;
  line-height: 25px;
  letter-spacing: -0.1px;
  color: #2A3A54;
  font-weight: 300;
}

.ondertekst {
  font-size: 14px;
  line-height: 25px;
  letter-spacing: -0.1px;
  color: #ADADAD;
  margin-top: -20px;
}

#intro {
  width: 600px;
}

#hoofd {
  height: 150px;
  opacity: 0.8;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#knop {
  background-image: linear-gradient(270deg, #1DA800 0%, #00BBB0 100%);
  border-radius: 40px;
}

#linkedin {
  color: white;
}
